body {
  background-color: royalblue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  min-height: 100vh;
  font-size: 40px;
  text-shadow: 1px 1px 1px gray;
  font-family: Helvetica, Arial, sans-serif;
  animation: 300ms bit infinite;
}

@keyframes bit {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
